.bg-base {
  background-color: #fafaf8;
}

.bg-carrara {
  background-color: #f8f7f4;
}

.bg-carrara-100 {
  background-color: #f0efea;
}

.bg-carrara-200 {
  background-color: #dbd8cd;
}

.bg-carrara-300 {
  background-color: #c4bfad;
}

.bg-carrara-400 {
  background-color: #aba28c;
}

.bg-carrara-500 {
  background-color: #9a8e75;
}

.bg-carrara-600 {
  background-color: #8e7f68;
}

.bg-carrara-700 {
  background-color: #766958;
}

.bg-carrara-800 {
  background-color: #61564b;
}

.bg-carrara-900 {
  background-color: #50483e;
}

.bg-carrara-950 {
  background-color: #2a2520;
}

.text-carrara-50 {
  color: #f8f7f4;
}

.text-carrara-100 {
  color: #f0efea;
}

.text-carrara-200 {
  color: #dbd8cd;
}

.text-carrara-300 {
  color: #c4bfad;
}

.text-carrara-400 {
  color: #aba28c;
}

.text-carrara-500 {
  color: #9a8e75;
}

.text-carrara-600 {
  color: #8e7f68;
}

.text-carrara-700 {
  color: #766958;
}

.text-carrara-800 {
  color: #61564b;
}

.text-carrara-900 {
  color: #50483e;
}

.text-carrara-950 {
  color: #2a2520;
}