/*-- scss:defaults --*/
// Sass variables for websites, books, manuscripts, revealjs presentations

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");

// Custom Theme Variables
$body-bg: #272822;
$navbar-bg: #272822;

$body-color: #C8C3BC;
$code-color: #d35400; 
$navbar-text-color: #C8C3BC;

$link-color: #d35400; 
$navbar-link-color: #d35400; 
$navbar-link-hover-color: #d35400; 

$font-family-sans-serif: "Inria Sans", sans-serif !default;
$font-family-monospace: "Source Code Pro", monospace !default;

$code-block-bg: #272822;
$code-block-border-color: #e67e22; 
$code-block-font-size: 16px;

/*-- scss:rules --*/

::selection {
  background: #e67e22;
  color: #fafaf8;
}

body {
  text-align: justify;
}
